header {
  border-bottom: solid 3px;
  border-color: darkgoldenrod;
  width: 100%;
}

body {
  background-image: url("/assets/178191.jpg");
  opacity: 0.95;
}
.main {
  display: flex;
  flex-direction: column;
}
.search-details {
  text-align: center;
  border: solid 2px;
  border-color: darkgoldenrod;
  height: 100%;
}
.secondary {
  height: 200pt;
  padding: 10pt;
  margin: 4pt;
  text-align: center;
  border: solid 2px;
  border-color: darkgoldenrod;
}

.column {
  margin: 15pt;
  padding: 10pt;
}
#news {
  background: currentColor;
  background-size: cover;
}

#chart {
  height: 64%;
  padding: 0pt;
}
