:root {
  --primary: antiquewhite;
  font-family: "DM Sans", sans-serif;
  color: #2b2d2f;
}

header {
  border-bottom: solid 3px;
  border-color: var(--primary);
  width: 100%;
  color: var(--primary);
}

h1 {
  text-align: center;
  font-size: 30pt;
  font-weight: 400;
}

body {
  background-image: url("/assets/wallpaper.jpg");
  background-size: cover;
}

#search {
  background: dimgrey;
}

.search-area {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
}
.search-details {
  text-align: center;
  border: solid 2px;
  border-color: var(--primary);
  height: 93%;
}
.secondary {
  height: 200pt;
  padding: 10pt;
  margin: 4pt;
  text-align: center;
  border: solid 2px;
  border-color: var(--primary);
}

.column {
  margin: 15pt;
  padding: 10pt;
}
#news {
  background-size: cover;
  opacity: 0.9;
}

#chart {
  height: 64%;
  padding: 0pt;
}

#news a {
  text-decoration: revert;
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  color: yellow;
  font-size: x-large;
}

.input,
.select select,
.textarea {
  background-color: lightgoldenrodyellow;
}
